@font-face {
    font-family: Oswald-Regular;
    src: url(../font/Oswald-Regular.ttf);
}
@font-face {
    font-family: Oswald-Light;
    src: url(../font/Oswald-Light.ttf);
}
@font-face {
    font-family: Oswald-Bold;
    src: url(../font/Oswald-Bold.ttf);
}

@font-face {
    font-family: calendar-note;
    src: url(../font/calendar-note.ttf);
}

body{
    font-family: Oswald-Regular;
}

.pico::first-letter{
  text-transform: uppercase;
}
p{
    font-family: Oswald-Light;
    font-size: 0.9em;
}

.btnpico{
  margin-bottom:50px;
  padding-bottom: 50px;
}

.nav > li > a:hover, .nav > li > a:focus {

  text-decoration: none;
  background-color: rgb(47,165,102);
}

a:hover{
    color:white;
}

.mynavbar{
background-color: transparent;
color: white;
font-size: 20px;
}

.btncount{
  font-size: 80px;
  text-align: center;
  font-family: Oswald-Light;
}

.btnmaincount{
font-family: calendar-note;
font-size: 30px;
}
.enterbutton:hover{
  background-color: white;
  color:rgb(47,165,102);
}
    footer{
    	background-color: rgb(47,165,102);
    	color: white;
    	padding: 15px;
    	text-align: center;
     }
    .diseño{
    	font-size: 0.7em;
    }
    .legal{
    	font-size: 0.4em;
    }
    .menubajo{
    	color: white;
    	font-size: 0.7em;
    	font-weight: 700;
    }
    .iz{
    	text-align: right;
    }
    .der{
    	text-align: left;
    }
    .menub{
    	margin-bottom: 15px;
    }
    p{
    	margin-bottom: 0.5em;
    }

    .portada{

    	background-image: url(../images/fondo1.jpg);
        background-size: contain;

        background-repeat-y: no-repeat;
        margin-left: -15px;
        margin-right: -15px;
    }
    .logoprin{
    	width: 80%;
    }
    .bajada{
    	padding-top: 1em;
    	color:white;
    	text-align: right;
     	padding-right: 2.2em;
    	line-height: 1em;
        font-size: 1.2em;
        font-family: Oswald-Regular;
    }

    .enter{
      background-color: red;
    }

    .ha{
    	color: white;
    	font-size: 1.2em;
    	text-align: center;
      padding-top: 20vh;
    }
    .conteo{
    	color: black;
    	font-weight: 700;
    	padding-top: 25px;
    	padding-left: 30px;
        font-family: Oswald-Regular;
    }
    .conteor{
        color: black;
        font-weight: 700;
        padding-top: 0px;
        padding-left: 25px;
        text-align: center;
        font-family: Oswald-Regular;
    }
    .tit_col{
        font-size: 1.4em;
    }
    .tit_chi{
    	font-size: 0.7em;
    }
    .res{
        padding-left: 25px;
        padding-top: 5px;
    }

.peso{
    height: 24px;
}
.padup{
    margin-top: 10px;
}
.colu{
    padding-left: 25px;
    background: white;
    margin-top: 49px;
    padding-bottom: 25px;
}
.colto{

    background-color: rgb(47,165,102);
    padding: 25px 0px;

}
.btn-col{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 15px;
    font-family: Oswald-Regular;
}
.btn-col:hover{
    text-decoration: none;
}
.civ{
    margin-top: 20px;
}
.imver{
    padding: 3px 0;
}
.cifverde{
    padding-left: 25px;
}
.colaboradores{
    padding-top: 25px;
    padding-bottom: 25px;
}
h1{
    font-size: 1.5em;
}
.row{
    margin-right: 0;
}
.comen{
    margin-top: 2px;
    padding-top: 3px;
    height: 2.5em;
    float: left;
    padding-left: 40px;
}
.ideiwi{
    padding-left: 40px;
    padding-right: 30px;
}

.cifver{
    color: rgb(47,165,102);
    padding-left: 2em;
    font-size: 30px;

}

.cifver2{
    font-family: calendar-note;
    color: rgb(47,165,102);
    padding-left: 20px;
    font-size: 40px;

}
.eso{
  height: 400px;
margin-bottom: 50px;
background-color: black;
width: 100%;
}

.contentdemoBasicUsage div.demo-content {
  height: 20px; }

.contentdemoBasicUsage div[ng-controller] {
  height: 50%;
  padding-bottom: 15px; }

.contentdemoBasicUsage md-content {
  padding: 24px; }
.sideredes{
    padding-top: 100px;
    text-align: center;
}
.cifra{
    font-size: 1.2em;
    padding-left: 15px;
}
.mosgra{
    display: none;
}
.moschi{

}
.logrand{

}
.clbo{

}
.ayi{

}
.coorr{

}
.lefi{
    display: inline-block;
}
.gra{

    color: rgb(47,165,102);
    border: 1px solid rgb(47,165,102);
    padding: 15px;
}
.graciasp{
    height: 70vh;
}

v
.mch{
    margin-top: 0;
    padding-left: 25px;
}

.share{
    margin-top: 0;
    background-image: url(../images/gracias.png);
    padding-top: 40px;
    padding-bottom: 40px;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
    background-position-y: -95px;
}
.mandato{
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    line-height: 1.5em;
}
input{
    border: 1px solid white;
    background: transparent;
    color: white;
    padding-left: 15px;
    font-size: 15px;
    font-family: Oswald-Regular;
}
::-webkit-input-placeholder { color:white;  font-family: Oswald-Regular;}
::-moz-placeholder { color:white;  font-family: Oswald-Regular;} /* firefox 19+ */
:-ms-input-placeholder { color:white;  font-family: Oswald-Regular; } /* ie */
input:-moz-placeholder { color:white;  font-family: Oswald-Regular;}
.resi{
    font-size: 1.5em;
}

.lacount{
font-size: 50px;
text-align: center;
color: white;
padding-top: 60px;
}

/*cuando es chico*/
.nombres{
  text-align:center; padding:20px 0px 20px 0px; color: gray; font-size: 12px;
}

.logoscola{
  width: 110px;
  text-align: center;
}

@media(min-width:768px){
  .nombres{
    text-align:center; padding:20px 100px 20px 100px; color: gray; font-size: 12px;
  }

/*cuando es grande*/
  .logoscola{
    width: 200px;
  }
}


@media (min-width: 768px) {

.mandato{
    padding-left: 250px;
    padding-right: 250px;
    line-height: 2em;
}


.lacount{
font-size: 50px;
text-align: center;
color: white;
padding-top: 60px;
}

.mch{
    text-align: center;
}

.portada{
    background-image: url(../images/fondog.png);
    background-size: contain;

    background-repeat-y: no-repeat;
    margin-left: -15px;
    margin-right: -15px;
}
.bajada{
    display: none;
}
.mosgra{
    display: block;
}
.moschi{
    display: none;
}
.logoprin{
    display: none;
}
.logrand{
    width: 100%;
}
.majada{
    color: white;
    float: right;
    text-align: right;
    font-size: 2.5em;
    line-height: 1em;

}
.ha{
    font-size: 1.5em;
    padding-top: 35px;
    text-align: center;
}
.conteo{
    text-align: center;

}
.tit_col{
    font-size: 4em;
}
.tit_chi{
   font-size: 0.7em;
}
.cifra{
    font-size: 3em;
}
.res{
    padding-left: 20%;
}
.peso{
    height: 54px;

}
.btn-col{
    font-size: 1.5em;
    border: 2px solid white;
}
.gra{

}

h1{
    font-size: 3em;
}
p{
    font-size: 1.5em;
}
.ideiwi{
    padding-top: 30px;
    padding-left: 250px;
    padding-right: 250px;
}

.acto{
  padding-left: 40px;
  padding-right: 30px;
}
.hash{

    text-align: center;
}
.cifver{
    font-size: 3em;
}
.clbo{
    padding-top: 50px;
}
.ayi{
    padding-top: 30px;
}
.menubajo{
    font-size: 2em;
}
.diseño{
    font-size: 1em;
}
.legal{
    font-size: 0.6em;
}
.menub{
    padding-top: 20px;
}
.coorr{
    margin-top: 80px;
    text-align: center;
}
.lefi{
    padding-bottom: 45px;
}
.conteor{
    font-size: 0.5em;
}
.resi{
    padding-top: 10px;
}
.share{
    margin-top: 0px;
   padding: 17px;
   margin-right: -15px;
   margin-left: -15px;
     background-size: cover;
    background-repeat-x: no-repeat;
    background-position: 50%;
    background-position-y: 262px;
}
.cifrar{
    font-size: 2.5em;
}
.graciasp{

}

}
