<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color:rgb(47,165,102);">
        <h2>Preguntas frecuentas</h2>
        <span flex></span>
        <md-button class="fa fa-times" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>¿A qué me comprometo si dejo mis datos?</h2>
        <p>
         Es un compromiso personal, único e intransferible en que manifiestas tu voluntad de querer donar el monto que te será asignado como indemnización
         por la colusión del papel higiénico. Es un acto de generosidad, conciencia, amor y apoyo hacia otros chilenos como tú.
        </p>
        <h2>¿Mis datos serán públicos?</h2>
        <p>
          No. Los datos que ingresas en la plataforma (rut y número de documento de identidad), no serán públicos. Te los pedimos para validar tu identidad y
           así reducir al mínimo la posibilidad de que alguien se haga pasar por ti.
        </p>
        <h2>¿Qué consecuencias legales tiene asumir este compromiso?</h2>
        <p>
          Ninguna. Este compromiso es tu palabra, tu voluntad de querer ayudar a las miles de personas que perdieron todo en los incendios.
        </p>
        <h2>¿Cuál es la meta?</h2>
        <p>Queremos ser al menos 100.000 chilenos comprometidos, unidos, coludidos para ayudar. Si lo logramos, serán $700.000.000 que irán en ayuda directa a las
          personas, familias, emprendedores y territorios afectados por los incendios.</p>

        <h2>¿A quién se va a donar la plata?</h2>
        <p>El monto que se recaude se va a destinar en partes iguales a tres causas:</p>
        <ul>
          <li>Construcción de viviendas de las zonas afectadas. Trabajo liderado por <a href="http://www.techo.org/paises/chile/">TECHO</a></li>
          <li>Apoyo a emprendedores de las zonas afectadas. Trabajo conjunto liderado por <a href="http://balloonlatam.com/">Balloon Latam</a> y <a href="http://www.asech.cl/">Asech</a></li>
          <li>Reforestación de Bosque Nativo. Liderado por <a href="http://cultiva.cl/">Cultiva</a></li>
        </ul>
        <h2>¿Quién va a repartir la donación?</h2>
        <p>La Fundación Sistema B y la Fundación Un Techo para Chile serán las encargadas de recibir los aportes. En el caso de construcción de viviendas los recursos se canalizan a través de TECHO. En el caso de reforestación y apoyo a emprendedores, Sistema B recibe los recursos pero distribuye el 100% de los montos recaudados para estas causas.</p>

        <h2>¿Cómo se hará efectiva la donación?</h2>
        <p>El mecanismo mediante el cual se hará efectiva la indemnización aún no está definido por las autoridades y las instituciones involucradas en el acuerdo,
          entre las cuales está el Sernac y organizaciones de consumidores como Conadecus, Odecu. Por lo tanto, una vez que esté definido este procedimiento,
          activaremos las acciones que permitan hacer realidad la donación de esta indemnización. Actualmente estamos trabajando de manera coordinada
          con los posibles ejecutores del pago, para que la donación sea rápida y fácil para todos los que asuman el compromiso de donar la indemnización.</p>

        <h2>¿Cuándo se hará efectiva la donación?</h2>
        <p>La donación se realizará a la vez que se haga efectivo el pago de la indemnización por la colusión.</p>

        <h2>¿De dónde surge esta indemnización?</h2>
        <p>En enero de este 2017, y luego de un año de negociaciones, se determinó que la Compañía Manufacturera de Papeles y Cartones (CMPC) deberá pagar una
          indemnización de 150 millones de dólares, por la colusión del papel higiénico que involucró también a la empresa SCA. A raíz de este acuerdo
          es que cada chileno mayor de 18 años recibirá un monto aproximado de 7 mil pesos. Nuestra causa es que todos los chilenos donemos este monto
          para apoyar a los afectados por los incendios que consumieron casi 400 mil hectáreas de terrenos en todo el país.</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="https://www.facebook.com/groups/393769814294402" target="_blank" md-autofocus>
        Únete a <i class="fa fa-facebook" aria-hidden="true"></i>
      </md-button>
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>
