
 <section id="home" class="portada">
   <div style="float:right;">
     <angular-simple-sidebar state="state" items="items" title="menuTitle">
   </div>
   <nav class="" role="navigation" style="position: fixed; z-index:999;">
       <div class="container">
           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse navbar-right navbar-main-collapse" style="background-color: rgba(47,165,102,0.5); z-index: 150;">
               <ul class="nav navbar-nav">
                   <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                   <li>
                       <a class="page-scroll mynavbar" href="#/#idea">La idea</a>
                   </li>
                   <li>
                       <a class="page-scroll mynavbar" href="#/#creer">En qué creemos</a>
                   </li>
                   <li>
                       <a class="page-scroll mynavbar" style="background-color:red;" href="#/#donar">Quiero colaborar</a>
                   </li>
                   <li>
                       <a class="page-scroll mynavbar"  href="#contacto" ng-click="showAdvanced($event)">Preguntas Frecuentes</a>
                   </li>
                   <li>
                       <a class="page-scroll mynavbar" ng-click="gofb()"><i class="fa fa-facebook-official"></i></a>
                   </li>

               </ul>
           </div>
           <!-- /.navbar-collapse -->
       </div>
       <!-- /.container -->
   </nav>
<div style="padding-top:90px;">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive logoprin center-block" src="images/logo_footer.png">
      <img class="mosgra center-block logrand" src="images/logogrande.png">
      <p class="majada mosgra">Unámonos como ciudadanos<br>para levantar a Chile una vez más</p>
    </div>
  </div>
  <div class="row">
    <p class="bajada">Unámos como ciudadanos<br>para levantar a Chile una vez más</p>
  </div>
  <div class="row ha">
    <p class="hash">#YoDonoMiBono &nbsp; #ColusionDeAmor &nbsp; #DonoMis7Lucas</p>
  </div>
  <div class="colu">
      <div class="row conteo">
      <p class="tit_col">UNIDOS / <span class="tit_chi">HASTA AHORA</span></p>
      </div>
      <div class="row res moschi">
        <div class="row">
          <div class="col-xs-1">

          </div>
          <div class="col-xs-11 btnmaincount">
             <img src="images/PersonasCel.png" class="img-responsive lefi">
            <span class="cifra">{{num}}</span><span class=""><br>/100.000 meta</span>
          </div>
        </div>
        <div class="row padup">
          <div class="col-xs-1">

          </div>
          <div class="col-xs-11  btnmaincount">
             <img src="images/PesoCel.png" class="img-responsive lefi">
            <span class="cifra">{{total}}</span><span class=""><br>/700.000.000 meta</span>
          </div>
        </div>
      </div>

       <div class="row res mosgra">
        <div class="row">
          <div class="col-xs-1">

          </div>
          <div class="col-xs-11 btnmaincount">
             <img src="images/PersonasCel.png" class="img-responsive lefi">
            <span class="cifra">{{num}}</span><span class="">/100.000 meta</span>
          </div>
        </div>
        <div class="row padup">
          <div class="col-xs-1">

          </div>
          <div class="col-xs-11  btnmaincount">
             <img src="images/PesoCel.png" class="img-responsive lefi">
            <span class="cifra">{{total}}</span><span class="">/700.000.000 meta</span>
          </div>
        </div>
      </div>
  </div>
  <div class="colto center-block" style="padding-bottom: 40px; padding-top: 60px;" id="donar">
    <div class="mandato" style="color:white;">
    <p>
  La presente declaración representa UNA MANIFESTACIÓN DE SOLIDARIDAD y DE AMOR, que se verificará cuando mi derecho a percibir dicho monto, sea ratificado por los tribunales de justicia y demás entidades públicas que sean competentes.
  <br><br>
  Con este compromiso declaro que quiero donar mi indemnización a los afectados por los incendios a través de:
  <br><br>
  <ul style="color:white; font-size:15px;">
    <li>Construcción de viviendas junto a <a href="http://www.techo.org/paises/chile/">TECHO</a></li>
    <li>Apoyo a emprendedores, junto a <a href="http://balloonlatam.com/">Balloon Latam</a> y <a href="http://www.asech.cl/">Asech</a></li>
    <li>Reforestación de bosque nativo, junto a <a href="http://cultiva.cl/">Cultiva</a></li>
  </ul>
  <br>
    </p>
      <br>
      <p style="font-size: 19px; padding-bottom:10px;">Por este acto,
        <input required type="text" placeholder="Nombre completo" ng-model="send.nombre"> ,
        cédula de identidad Nº <input type="text" placeholder="Rut" ng-model="send.rut" style="margin-top:10px;" required><br>
        y correo <input type="text" placeholder="Correo" ng-model="send.correo" style="margin-top:10px;" required>
      </p>
      <div layout="column" ng-cloak="" class="contentdemoBasicUsage eso">
        <md-toolbar class="md-warn">
        <div class="md-toolbar-tools" style="    background-color: black;">
            <h2 class="md-flex">Manifestación de solidaridad:</h2>
        </div>
       </md-toolbar>

  <md-content flex="" layout-padding="">
    <p> Por este acto, yo, {{send.nombre}}, Cédula Nacional de Identidad número {{send.rut}}, mail {{send.correo}}, me sumo a la colusión de amor y manifiesto mi voluntad de donar el monto total que me pudiese corresponder y
      que resulte de la indemnización pactada respecto al acuerdo extrajudicial, entre la sociedad EMPRESAS CMPC S.A., SERNAC, CONADECUS y ODECUS,
      a las siguientes fundaciones: “Un Techo para Chile”, RUT: 65.533.130-1, para que utilice los montos donados para la construcción de viviendas de
      las familias afectadas por los incendios forestales en Chile, y a la “Fundación Sistema B”, RUT: 65.052.193-3 para reforestar los bosques con árboles
      nativos a través de la Empresa B Cultiva y la Corporación Cultiva y apoyar a los emprendedores afectados a través de Balloon Latam y Asech. <br><br>

El monto total recaudado se traspasará en un 100% a dichas organizaciones y será de dominio público en la web.<br><br>

Al finalizar las labores de apoyo y ayuda a las zonas afectadas,, las fundaciones procederán a rendir cuenta de sus gestiones a través de la web y otros medios de difusión disponibles y quedarán disponibles para la ciudadanía.

Todo ello una vez que el tribunal competente que conozca el asunto, ratifique dicho acuerdo a través de una sentencia judicial y se verifique mi derecho.

Por lo anterior, declaro mi compromiso irrevocable con la reconstrucción, por lo que aceptaré las condiciones generales que se establecerán, y que a través de las cuales se llevará a cabo la donación a las fundaciones antes mencionadas, lo cual incluye el otorgar mandatos tanto a entidades públicas y/o privadas para el cumplimento de los fines de la inscripción.

La presente declaración representa UNA MANIFESTACIÓN DE SOLIDARIDAD y DE AMOR, que se verificará cuando mi derecho a percibir dicho monto, sea ratificado por los tribunales de justicia y demás entidades públicas que sean competentes.</p>
  </md-content>

</div>

    </div>
    <div class="text-center">
      <md-checkbox ng-model="check" aria-label="Checkbox 1">
     Suscribirme al newsletter
      </md-checkbox>
    </div>
    <button class="btn-col center-block enterbutton"
    ng-click="send(send,check)">ACEPTAR</button>
  </div>
</div>
 </section>
 <section  class="laidea">
 	<div class="row" id="idea">
 		<div class="col-xs-12 ideiwi">
 			<h1>LA IDEA</h1>
 			<p>
        Esta idea nace de miles de corazones solidarios, <b>inquietos por darles una mano a nuestros compatriotas y ayudar a las comunidades damnificadas</b> por los incendios ocurridos recientemente en las zonas centro y sur del país.<br><br>

Colusión de Amor es una campaña <b>colaborativa, sin protagonismos, con una total apertura,</b> pero con mucho liderazgo y compromiso. Confiamos en que juntos podemos hacer grandes cosas. Como decía nuestro querido Nicanor Parra: <b> nos salvamos JUNTOS o nos hundimos por separado.</b><br><br>

Demostremos que juntos podemos lograr <b>una Colusión de Amor donde triunfe la colaboración, la solidaridad y la empatía.</b><br><br>

<b>Súmate y aporta tu compensación</b> por el caso de colusión de las papeleras detectado el 2015. Demos vuelta a una mala práctica y que el daño a los miles de ciudadanos afectados se transforme en cariño y cuidado.<br><br>

Los fondos serán donados a la Fundación “Un Techo para Chile”, RUT: 65.533.130-1, para que los utilice en la <b>construcción de viviendas</b> para las familias afectadas por los incendios forestales en Chile; y a la “Fundación Sistema B”, RUT: 65.052.193-3, para que los destine a <b>reforestar los bosques con árboles nativos</b> a través de la Empresa B Cultiva y la Corporación Cultiva y <b>apoyar a los emprendedores </b>afectados a través de Balloon Latam y ASECH.<br><br>

El monto total recaudado se traspasará en un 100% a dichas organizaciones y será de dominio público en la web.<br><br>

Esta campaña es un esfuerzo conjunto con <a href="https://www.broota.com/fuerzachile">#FuerzaChile</a><br><br></p>
 			<p><b>Súmate!  &nbsp;</b><a href="#/#donar"><i class="fa fa-heart" style="color:red;" aria-hidden="true"></i></a></p>


 		</div>
 	</div>
  <div class="row" id="creer">
    <div class="col-xs-12 ideiwi">
      <h1>EN QUÉ CREEMOS</h1><br>
      <p style="text-align : justify;">

  <b>Es altamente peligroso el nivel de desconfianza </b>generalizado al cual estamos llegando y no podemos sentirnos ajenos.<br><br>

Nos molestan, al igual que a muchos, los problemas que estamos teniendo como país, y no esperamos tapar el sol con un dedo, pero una cosa muy distinta es asumir todo el quehacer de otros como algo malo, vicioso y corrupto.<br><br>

Los grandes desafíos de nuestro país suponen pensar en el largo plazo, que trascienden el horizonte de tiempo de un gobierno en particular, sea cual sea. Nuestro éxito depende, por lo tanto, de esfuerzos sostenidos que no son posibles en un ambiente donde el juego consiste en tratar de obstaculizar el trabajo del “otro bando” enfatizando la desconfianza como estrategia. Por el contrario, <b>el camino es cultivar un estilo que aprecie la colaboración</b> y enfatice los logros de quienes hacen honestamente sus mejores esfuerzos por desarrollar nuestro país.<br><br>

Vislumbramos un nuevo sector de la economía que utilice el <b> poder del sector privado para crear beneficios para las personas y el medioambiente. </b>Un sector compuesto por un nuevo tipo de empresas orientadas por un propósito de bien común, que generan beneficios para todas las partes interesadas y no solo para sus accionistas.<br><br>

Que debemos <b>ser el cambio que buscamos en el mundo.</b>

Que todo negocio debe conducirse con un imperativo moral, en el que la gente y el ambiente importan. Que a través de sus productos, prácticas y ganancias, los negocios deben aspirar a beneficiar a todos, y a no hacer daño. Hacer esto requiere que nos comportemos con el entendimiento de que todos dependemos uno del otro y como resultado somos responsables por nosotros mismos y por las futuras generaciones.<br><br>

Somos personas que <b>tenemos diferencias</b> en nuestra forma de ver el mundo, e historias de vida que a veces nos ponen en trincheras políticas muy distintas. Pero ejercitamos a diario el derecho ciudadano a <b>construir juntos y con buena fe un futuro mejor para todos,</b> desde el diagnóstico compartido de que diversificar la economía a través de la innovación y la productividad es clave para lograr dinamismo económico y equidad.<br><br>
      </p>

    </div>
  </div>
 	<div class="cifverde ideiwi">
 		<div class="row civ">
	 		<div class="col-xs-2 col-md-1 imver">
	 			<img class="" src="images/PersonasVerd.png">
	 		</div>
	 		<div class="col-xs-10 col-md-11">
	 			<span class="cifver2">{{num}}</span>
	 		</div>
	 	</div>
	 	<div class="row civ">
	 		<div class="col-xs-2 col-md-1 imver">
	 			<img class="" src="images/PesoVerdCel.png">
	 		</div>
	 		<div class="col-xs-10 col-md-11 ">
	 			<span class="cifver2">{{total}}</span>
	 		</div>
	 	</div>
 	</div>
 </section>
 <section class="colaboradores" id="colaboradores">
 	<h1 class="coorr">COLABORADORES</h1>
 	<div class="clbo">
    <!--version web -->
    <div class="mosgra">
      <div class="row">
      <div class="col-xs-4 ">
        <a href=" http://www.techo.org/paises/chile/"><img class="img-responsive center-block" style="padding-top:40px;" src="images/techo.png" width="170px"></a>
      </div>
      <div class="col-xs-4 logoso">
        <a href="http://www.gulliver.cl/"><img class="img-responsive center-block" src="images/Gulliver.png"></a>
      </div>
      <div class="col-xs-4 logoso">
        <a href="http://www.saltala.com/"><img class="img-responsive center-block" src="images/Saltala.png" ></a>
      </div>
    </div>
    <div class="row padup ayi">
      <div class="col-xs-5 col-md-4 logoso">
        <a href="http://www.broota.com"><img class="img-responsive center-block" src="images/broota.png" width="150px"></a>
      </div>
      <div class="col-xs-3 col-md-4 logoso">
      <a href="http://evoting.cl/"> <img class="img-responsive center-block" style="padding-top:6px;" src="images/Evoting.png" width="140px"></a>
      </div>
      <div class="col-xs-4 col-md-4 logoso">
      <a href="http://www.casaco.org">  <img class="img-responsive center-block" src="images/CasaCo.png" width="90px"></a>
      </div>
    </div>
    <div class="row padup ayi">
     <div class="col-xs-1 col-md-4">
       <a href=" http://balloonlatam.com/"><img class="img-responsive center-block" src="images/Balloon.png" width="70px"></a>
     </div>
      <div class="col-xs-5 col-md-4 logoso">
        <a href="http://www.delriocia.cl/"><img class="img-responsive center-block" src="images/delrio.png" width="100px"></a>
      </div>
      <div class="col-xs-5 col-md-4 logoso">
        <a href="http://www.asech.cl/"><img class="img-responsive center-block" src="images/asech.png"  width="150px"></a>
      </div>

    </div>
    <div class="row padup ayi">
      <div class="col-xs-5 col-md-4 logoso">
      <a href="http://www.sistemab.org">  <img class="img-responsive center-block" src="images/SistemaB.png" width="70px"></a>
      </div>
      <div class="col-xs-3 col-md-4 logoso">
      <a href="http://fiis.org/">  <img class="img-responsive center-block" src="images/fiis.png"  width="90px"></a>
      </div>
      <div class="col-xs-4 col-md-4 logoso">
      <a href="http://limbi.co">  <img class="img-responsive center-block" src="images/limbico.png"  width="150px"></a>
      </div>
    </div>

    <div class="row padup ayi">
      <div class="col-xs-5 col-md-4 logoso">
      <a href="http://buildlove.cl">  <img class="img-responsive center-block" src="images/buildlove.png" width="120px"></a>
      </div>
      <div class="col-xs-3 col-md-4 logoso">
      <a href="http://www.sistemab.org/espanol/comunidad-empresas-b/busqueda-de-empresa-b/empresas-b-chile">  <img class="img-responsive center-block" src="images/comunidad.png"  width="100px"></a>
      </div>
      <div class="col-xs-3 col-md-4 logoso">
      <a href="#">  <img class="img-responsive center-block" src="images/chileb.png"  width="150px"></a>
      </div>
    </div>
    <div class="row padup ayi">
      <div class="col-xs-4 col-md-4 logoso">
        <a href="www.cultiva.cl">  <img class="img-responsive center-block" src="images/cultiva.png"  width="90px"></a>
      </div>
      <div class="col-xs-4 col-md-4 logoso">
      </div>
      <div class="col-xs-4 col-md-4 logoso">
      <a href="www.cultivaempresa.cl">  <img class="img-responsive center-block" src="images/CultivaEmpresa.png"  width="150px"></a>
      </div>
    </div>
    </div>

    <!-- vesion mobile -->
    <div class="moschi">
      <div class="row">
      <div class="col-xs-4 ">
        <a href=" http://www.techo.org/paises/chile/"><img class="img-responsive center-block" style="padding-top:40px;" src="images/techo.png" width="170px"></a>
      </div>
      <div class="col-xs-4 logoso">
        <a href="http://www.gulliver.cl/"><img class="img-responsive center-block" src="images/Gulliver.png"></a>
      </div>
      <div class="col-xs-4 logoso">
        <a href="http://www.saltala.com/"><img class="img-responsive center-block" src="images/Saltala.png" width="70px"></a>
      </div>
    </div>
    <div class="row padup ayi">
      <div class="col-xs-5 col-md-4 logoso">
        <a href="http://www.broota.com"><img class="img-responsive center-block" src="images/broota.png" width="100px"></a>
      </div>
      <div class="col-xs-3 col-md-4 logoso">
      <a href="http://evoting.cl/"> <img class="img-responsive center-block" style="padding-top:6px;" src="images/Evoting.png" width="170px"></a>
      </div>
      <div class="col-xs-4 col-md-4 logoso">
      <a href="http://www.casaco.org">  <img class="img-responsive center-block" src="images/CasaCo.png" width="50px"></a>
      </div>
    </div>
    <div class="row padup ayi">
     <div class="col-xs-4 col-md-4 logoso">
       <a href=" http://balloonlatam.com/"> <img class="img-responsive center-block" src="images/Balloon.png" width="50px"></a>
     </div>
      <div class="col-xs-4 col-md-4 logoso">
        <a href="http://www.delriocia.cl/"><img class="img-responsive center-block" src="images/delrio.png" width="80px"></a>
      </div>
      <div class="col-xs-4 col-md-4 logoso">
        <a href="http://www.asech.cl/"><img class="img-responsive center-block" src="images/asech.png"  width="150px"></a>
      </div>

    </div>
    <div class="row padup ayi">
      <div class="col-xs-5 col-md-4 logoso">
      <a href="http://www.sistemab.org">  <img class="img-responsive center-block" src="images/SistemaB.png" width="40px"></a>
      </div>
      <div class="col-xs-3 col-md-4 logoso">
      <a href="http://fiis.org/">  <img class="img-responsive center-block" src="images/fiis.png"  width="90px"></a>
      </div>
      <div class="col-xs-4 col-md-4 logoso">
      <a href="http://limbi.co">  <img class="img-responsive center-block" src="images/limbico.png"  width="150px"></a>
      </div>
    </div>

    <div class="row padup ayi">
      <div class="col-xs-5 col-md-4 logoso">
      <a href="http://buildlove.cl">  <img class="img-responsive center-block" src="images/buildlove.png" width="120px"></a>
      </div>
      <div class="col-xs-3 col-md-4 logoso">
      <a href="http://www.sistemab.org/espanol/comunidad-empresas-b/busqueda-de-empresa-b/empresas-b-chile">  <img class="img-responsive center-block" src="images/comunidad.png"  width="100px"></a>
      </div>
      <div class="col-xs-3 col-md-4 logoso">
      <a href="#">  <img class="img-responsive center-block" src="images/chileb.png"  width="150px"></a>
      </div>
    </div>
    <div class="row padup ayi">
      <div class="col-xs-4 col-md-4 logoso">
        <a href="http://cultiva.cl/">  <img class="img-responsive center-block" src="images/cultiva.png"  width="50px"></a>
      </div>
      <div class="col-xs-4 col-md-4 logoso">
      </div>
      <div class="col-xs-4 col-md-4 logoso">
      <a href="www.cultivaempresa.cl">  <img class="img-responsive center-block" src="images/CultivaEmpresa.png"  width="150px"></a>
      </div>
    </div>
    </div>
<!-- fin mobile -->
    <div class="row padup ayi">
      <div class="col-xs-12 col-md-12 nombres">
        Renzo Bosio · José Ignacio Meca · Magdalena Diaz · Pablo Ramirez · Andrés Schuler ·
        Rosario Pérez Breinbauer · Alejandro Yung · Carolina Carril · Hernán Humaña González · Mario Novoa · Magdalena Ibarbia · Carla Fuentes · Ignacio Cruz .
        Bárbara Locke · Felipe Contreras Haye · María Ignacia Herrera · Juan Pablo Larenas · Roberto Cerverla ·
        Jorge Palacios · Nerea De Ugarte · Sergio Majluf
      </div>
    </div>
 	</div>
 </section>
