<div class="center-block">
  <alert data-ng-repeat="alert in alerts" type="success" close="closeAlert($index)">ola</alert>
<section class="graciasp">
  <br>
  <h1 class="mch">¡MUCHAS GRACIAS POR TU APORTE!</h1>
  <p>Puedes aportar con financiamiento inmediato a las mismas tres causas: construcción de viviendas, apoyo a emprendedores locales y reforestación con árboles nativos.<br><br>
   Y también podrás inscribirte como voluntario para ayudar a las comunidades más damnificadas por los incendios forestales. </p>
  <br>
 	<div class="colu">
	 		<div class="row conteor">
	 		<p class="tit_col">COLUDIDOS / <span class="tit_chi">HASTA AHORA</span></p>
		 	</div>

		 	<div class="row resi">

		 			<div class="col-xs-2 col-md-4">
		 				<img src="images/PersonasCel.png" class="img-responsive lefi" style="float:right;">
		 			</div>
		 			<div class="col-xs-10 col-md-2">
		 				<span class="cifrar">{{totaldegente}}</span>
		 			</div>


		 			<div class="col-xs-2 col-md-1">
		 				<img src="images/PesoCel.png" class="img-responsive peso">
		 			</div>
		 			<div class="col-xs-10 col-md-3">
		 				<span class="cifrar">{{totalRecaudado}}</span>
		 			</div>
		 	</div>
      <div class="row">
        <div class="col-xs-12 btnpico">
           <button class="btn center-block" ng-click="shared()">COMPARTIR EN <i class="fa fa-facebook" aria-hidden="true"></i></button>
        </div>

      </div>
      <div class="row mosgra">
        <div class="col-xs-12 text-center">
            <a href="http://www.broota.com/fuerzachile"><img src="../images/bannerweb.jpg" class="img-responsive" style="display: -webkit-inline-box;" alt=""></a>
        </div>
      </div>
      <div class="row moschi">
        <div class="col-xs-12 text-center">
            <a href="http://www.broota.com/fuerzachile"><img src="../images/bannermovil.jpg" class="img-responsive" style="display: -webkit-inline-box;" alt=""></a>
        </div>
      </div>
   </div>




</section>

</div>
